@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

/* CSS Reset */

*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; padding: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; font-size: 100%;}

img, picture, svg, video, canvas { display: block; max-width: 100%; }

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

input, button, textarea, select { font: inherit; }

/* ------------------------------- */

:root {
    /* Logo */
    --logo-blue: #2196f3ff;
    /* Tasks title */
    --black: #495057;

    /* All other text/icon in tasks cards */
    --dark-gray: #6d6a75ff;

    /* Border of tasks card */
    --default-gray: #adb5bdff;
    
    /* Icons background on hover*/
    --light-gray: #ebebeb;
    
    /* Borders */
    --borders-gray: #D3D3D3;

    /* Priorities */
    --red: #ff5a5a;
    --yellow: #f6c364;
    --argentinian-blue: #64b5f6ff;
}

body {
    font-family: 'Cascadia Code';
    background: white;
}

main {
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: 4em 1fr;
    height: 100vh;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border: 2px solid var(--borders-gray);
    border-top: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside {
    border-right: 2px solid var(--borders-gray);
    border-left: 2px solid var(--borders-gray);
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

nav {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
    height: 100%;
}

/* Header */

header > #logo {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.8rem;
    color: var(--borders-gray);
}

header > #theme-login {
    margin-right: 8px;
    display: flex;
    column-gap: 1em;
    align-items: center;
}

i#theme {
    font-size: 2rem;
    color: var(--default-gray);
    padding: 6px;
    border-radius: 6px;
}

i#theme:hover {
    cursor: pointer;
}

button#login {
    all: unset;
    font-size: 2rem;
    border-radius: 5px;
    padding: 0 0.5em;
    color: var(--default-gray);
}

/* Aside/nav */

nav > button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--default-gray);
    border-radius: 5px;
    padding: 3px 8px 2px 8px;
}

#create {
    font-size: 1.5rem;
    padding: 1px 8px 0 8px;
}

nav > button:hover,
i.fa-github:hover,
#login:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

nav > a {
    position: absolute;
    bottom: 0.8em;
}

nav > a > .fa-github {
    font-size: 1.8rem;
}
i.fa-github {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--default-gray);
    border-radius: 5px;
    padding: 8px;
}

.fa-circle {
    -webkit-text-stroke: 1px var(--default-gray);
}

.red,
.high {
    color: var(--red);
}

.yellow,
.medium {
    color: var(--yellow);
}

.blue,
.low {
    color: var(--argentinian-blue);
}

/* Min view */

main > #min-view {
    height: 100%;
    border-right: 2px solid var(--borders-gray);
    grid-row: 2 / -1;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: repeat(auto-fit, 60px);
    row-gap: 1.2em;
    padding-top: 1.2em;
}

#current-tab {
    font-size: 3rem;
    color: var(--default-gray);
    justify-self: end;
    position: absolute;
    bottom: 0.1em;
    margin-right: 16px;
}

/* TASKS CARD */

.task-card {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 0.6em min-content 1fr min-content;
    transition: .1s ease-in-out;
}

.task-card:hover {
    cursor: pointer;
    scale: 1.01;
}

.priority {
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.priority.high {
    background-color: var(--red);
}

.priority.medium {
    background-color: var(--yellow);
}

.priority.low {
    background-color: var(--argentinian-blue);
}

.checkbox-div {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border-top: 2px solid var(--default-gray);
    border-bottom: 2px solid var(--default-gray);
    
    display: grid;
    align-content: center;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.checkbox {
    transform: scale(1.4);
    margin-bottom: 1px;
}

.checkbox:hover {
    cursor: pointer;
    accent-color: var(--logo-blue); 
}

div.content-wrapper {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    border-top: 2px solid var(--default-gray);
    border-bottom: 2px solid var(--default-gray);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
}


p.task-project {
    font-size: 0.8rem;
    color: var(--dark-gray);
}

p.due-date {
    grid-column: 4 / 5;
    justify-self: end;
    color: var(--dark-gray);
    font-size: 1rem;
}

div.task-actions {
    grid-row: 1 / 2;
    grid-column: 4 / -1;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-right: 2px solid var(--default-gray);
    border-top: 2px solid var(--default-gray);
    border-bottom: 2px solid var(--default-gray);
}

.task-card:has(.checkbox:checked){
    opacity: 40%;
}

/* PROJECTS CARD */

.project-card {
    padding: 0 1em;
    border: none;

    display: grid;
    grid-template-columns: 0.6em 1fr min-content;

    transition: .1s ease-in-out;
}

.project-card:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.project-stripe {
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: var(--default-gray);
}

.project-wrapper {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-right: 2px solid var(--default-gray);
    border-top: 2px solid var(--default-gray);
    border-bottom: 2px solid var(--default-gray);

    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
}

.project-info {
    margin-left: 0.8em;
}

.project-link {
    font-size: 0.8rem;
    color: var(--dark-gray);
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline var(--dark-gray);
}

.project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    padding-right: 1em;
}

/* COMMON STYLES BETWEEN TASKS AND PROJECTS CARDS */
p.task-title,
p.project-title {
    color: var(--black);
    font-size: 1.2rem;
}

div.task-actions,
div.project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    padding-right: 1em;
}


button.edit-task,
button.remove-task,
button.edit-project,
button.remove-project {
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    color: var(--dark-gray);
    border-radius: 5px;
}

button.edit-task:hover,
button.remove-task:hover,
button.edit-project:hover,
button.remove-project:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

/* FULL VIEW */

#full-view {
    grid-row: 2 / -1;
    grid-column: 3 / -1;

    height: 100%;
    border-right: 2px solid var(--borders-gray);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    align-items: start;
    row-gap: 1em;
}

#empty-view {
    color: var(--default-gray);
    margin-top: 45vh;
    text-align: center;
}

button#close {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: end;

    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--default-gray);
    border-radius: 5px;
}

button#close:hover {
    cursor: pointer;
    opacity: 90%;
}

/* EXPANDED PROJECTS */

#full-project-tasks-div {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 60px);
    row-gap: 1.2em;
    overflow-x: hidden;
}

#full-project-div {
    display: flex;
    flex-direction: column;
}

#full-project {
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 5em;
    grid-template-rows: repeat(3, min-content);

    padding: 1em;
}

#full-project-info > h1 {
    color: var(--black);
    font-size: 2rem;
    margin-left: -2px;
}

#full-project-info > a {
    font-size: 1.2rem;
    color: var(--default-gray);
    text-decoration: none;
}

#full-project-info > a:hover {
    text-decoration: underline var(--default-gray);
}

#full-project-description {
    white-space: pre-wrap;
    grid-column: 1 / 2;
    
    color: var(--dark-gray);
    padding-top: 1.5em;
}
/* EXPANDED TASKS */

#full-task-div {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#task-full {
    display: grid;
    grid-template-columns: 1fr 5em;
    grid-template-rows: repeat(3, min-content);
    align-items: start;

    padding: 1em;
}

#task-full-info {
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    column-gap: 1em;

    color: var(--black);
    font-size: 1.3rem;
}

#task-full-info > .fa-circle {
    font-size: 0.7rem;
}

#task-full-status {
    grid-row: 2 / 3;
    
    display: flex;
    align-items: center;
    column-gap: 1em;
    color: var(--default-gray);
}

#task-full-status > .checkbox {
    margin-left: 0.1em;
    accent-color: var(--logo-blue);
    transform: scale(1.4);
    opacity: 60%;
}
#task-full-status > .checkbox:checked {
    opacity: 100%;
}

#task-full-notes {
    white-space: pre-wrap;
    grid-column: 1 / 2;
    
    color: var(--dark-gray);
    padding-top: 1.5em;
}

pre > p {
    max-width: 60ch;
    font-family: 'Cascadia Code';
    font-size: 1rem;
    color: var(--dark-gray);
}

.point {
    color: var(--borders-gray);
    font-size: 1.2rem;
}

.line {
    background-color: var(--borders-gray);
    height: 2px;
}

/* MODALS */
#options-modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100dvh; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    display: grid;
    place-content: center;
}

#options-to-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}

#create-task,
#create-project {
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 145px;
}

#create-task:hover,
#create-project:hover {
    cursor: pointer;
    background-color: var(--logo-blue);
    color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

form > h1 {
    text-align: center;
    color: var(--dark-gray);
}

form > div {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    color: var(--black);
}

form > div > input,
form > div > select,
textarea {
    resize: none;
    border: 2px solid var(--borders-gray);
    color: var(--dark-gray);
    border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
    color: var(--default-gray);
}

select,
input[type="date"] {
    color: var(--dark-gray);
}

form > div > button {
    border: none;
    background-color: var(--logo-blue);
    border-radius: 5px;
    color: white;
    padding: 0.3em;
}

button[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.hide {
    visibility: hidden;
    display: none;
}

.display{
    visibility: visible;
    display: block;
}

.invalid{
    border: 2px solid var(--red);
}