@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

/* CSS Reset */

*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; padding: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; font-size: 100%;}

img, picture, svg, video, canvas { display: block; max-width: 100%; }

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

input, button, textarea, select { font: inherit; }

/* ------------------------------- */

:root {
    /* Logo */
    --logo-blue: #2196f3ff;
    /* Tasks title */
    --black: #495057;

    /* All other text/icon in tasks cards */
    --dark-gray: #6d6a75ff;

    /* Border of tasks card */
    --default-gray: #adb5bdff;
    
    /* Icons background on hover*/
    --light-gray: #ebebeb;
    
    /* Borders */
    --borders-gray: #D3D3D3;

    /* Priorities */
    --red: #ff5a5a;
    --yellow: #f6c364;
    --argentinian-blue: #64b5f6ff;
}

body {
    font-family: 'Cascadia Code';
    background: white;
}

main {
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: 4em 1fr;
    height: 100dvh;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border: 2px solid var(--borders-gray);
    border-top: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside {
    border-right: 2px solid var(--borders-gray);
    border-left: 2px solid var(--borders-gray);
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

nav {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
    height: 100%;
}

/* Header */

header > #logo {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.8rem;
    color: var(--borders-gray);
}

header > #theme-login {
    margin-right: 8px;
    display: flex;
    column-gap: 1em;
    align-items: center;
}

i#theme {
    font-size: 2rem;
    color: var(--default-gray);
    padding: 6px;
    border-radius: 6px;
}

i#theme:hover {
    cursor: pointer;
}

button#login {
    all: unset;
    font-size: 2rem;
    border-radius: 5px;
    padding: 0 0.5em;
    color: var(--default-gray);
}

/* Aside/nav */

nav > button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--default-gray);
    border-radius: 5px;
    padding: 3px 8px 2px 8px;
}

#create {
    font-size: 1.5rem;
    padding: 1px 8px 0 8px;
}

nav > button:hover,
i.fa-github:hover,
#login:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

nav > a {
    position: absolute;
    bottom: 0.8em;
}

nav > a > .fa-github {
    font-size: 1.8rem;
}
i.fa-github {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--default-gray);
    border-radius: 5px;
    padding: 8px;
}

.fa-circle {
    -webkit-text-stroke: 1px var(--default-gray);
}

.red,
.high {
    color: var(--red);
}

.yellow,
.medium {
    color: var(--yellow);
}

.blue,
.low {
    color: var(--argentinian-blue);
}

/* Min view */

main > #min-view {
    border-right: 2px solid var(--borders-gray);
    grid-row: 2 / -1;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: repeat(auto-fit, 60px);
    row-gap: 1.2em;
    padding-top: 1.2em;
}

#current-tab {
    font-size: 3rem;
    color: var(--default-gray);
    justify-self: end;
    position: absolute;
    bottom: 0.1em;
    margin-right: 16px;
}

/* Tasks card */

.task-card {
    padding: 0 1em;

    border: 2px solid;
    border-radius: 15px;
    border-color: transparent;

    display: grid;
    grid-template-columns: 0.6em 1fr;
    grid-template-rows: 1fr;

    transition: .1s ease-in-out;
}

.task-card:hover {
    cursor: pointer;
    scale: 1.01;
}

.task-card > .priority {
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.task-card > .wrapper {
    grid-row: 1 / -1;
    grid-column: 2 / -1;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 2px solid var(--default-gray);
    border-top: 2px solid var(--default-gray);
    border-bottom: 2px solid var(--default-gray);

    display: grid;
    grid-template-columns: 30px 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.5em;
    align-items: center;
}

.wrapper > .checkbox {
    margin-left: 0.4em;
    accent-color: var(--logo-blue);
    transform: scale(1.4);
}

.checkbox:hover {
    cursor: pointer;
}

.info > .title {
    color: var(--black);
    font-size: 1.2rem;
}

.info > .project {
    font-size: 0.8rem;
    color: var(--dark-gray);
}

.date-and-actions {
    justify-self: end;

    display: flex;
    align-items: center;
    column-gap: 1em;
    margin-right: 1em;
    color: var(--dark-gray);
    font-size: 1rem;
}

.date-and-actions > button {
    background-color: transparent;
    border: none;
    padding: 6px 7px;
    color: var(--dark-gray);
    border-radius: 4px;
}

.date-and-actions > button:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

/* Full view */


#full-view {
    display: grid;
    grid-template-rows: min-content;
    border-right: 2px solid var(--borders-gray);
}

#full-view > div#empty-view {
    color: var(--default-gray);
    align-self: center;
    margin-bottom: 5em;
    width: 100%;
    text-align: center;
}

.priority.high {
    background-color: var(--red);
}

.priority.medium {
    background-color: var(--yellow);
}

.priority.low {
    background-color: var(--argentinian-blue);
}

.project-card {
    padding: 0 1em;

    border: 2px solid;
    border-radius: 15px;
    border-color: transparent;

    display: grid;
    grid-template-columns: 0.6em 1fr;
    grid-template-rows: 1fr;

    transition: .1s ease-in-out;
}

.project-card:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.project-wrapper {
    width: 100%;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 2px solid var(--default-gray);
    border-top: 2px solid var(--default-gray);
    border-bottom: 2px solid var(--default-gray);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.5em;
    align-items: center;
}

.project-wrapper > .info {
    display: flex;
    flex-direction: column;
    margin-left: 0.8em;
}

.project-wrapper > .info > .title {
    font-size: 1.2rem;
    color: var(--black);
}

.project-wrapper > .info > .link {
    font-size: 0.8rem;
    color: var(--dark-gray);
    text-decoration: none;
}

.info > .link:hover {
    text-decoration: underline black;
}

.project-wrapper > .actions {
    display: flex;
    column-gap: 1em;
    justify-self: end;
    margin-right: 1em;
}

.actions > button {
    border: none;
    background: none;
    color: var(--dark-gray);
    padding: 6px 7px;
    border-radius: 4px;
}

.actions > button:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.project-stripe {
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: var(--default-gray);
}

#modal-options {
    visibility: hidden;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100dvh; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    display: grid;
    place-content: center;
}

#create-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}

#create-task,
#create-project {
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 145px;
}

#create-task:hover,
#create-project:hover {
    cursor: pointer;
    background-color: var(--logo-blue);
    color: #FFFFFF;
}

#modal-forms {
    visibility: hidden;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100dvh; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    display: grid;
    place-content: center;
}


form {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

form > h1 {
    text-align: center;
    color: var(--dark-gray);
}

form > div {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    color: var(--black);
}

form > div > input,
form > div > select,
textarea {
    resize: none;
    border: 2px solid var(--borders-gray);
    color: var(--dark-gray);
    border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
    color: var(--default-gray);
}

select,
input[type="date"] {
    color: var(--dark-gray);
}

form > div > button {
    border: none;
    background-color: var(--logo-blue);
    border-radius: 5px;
    color: white;
    padding: 0.3em;
}

button[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(90%);
}

/* Idk why but visiblity hidden did not work on forms */
#task-form,
#project-form {
    display: none;
}

.hide {
    display: none;
}

/* FULL VIEW */



#task-full {
    display: grid;
    grid-template-columns: 1fr 5em;
    grid-template-rows: repeat(3, min-content);

    padding: 1em;
}

#task-full-info {
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    column-gap: 1em;

    color: var(--black);
    font-size: 1.3rem;
}

#task-full-info > .fa-circle {
    margin-top: 4px;
    font-size: 0.7rem;
}

#task-full-status {
    grid-row: 2 / 3;
    
    display: flex;
    align-items: center;
    column-gap: 1em;
    color: var(--default-gray);
}

#task-full-status > .checkbox {
    margin-left: 0.1em;
    accent-color: var(--logo-blue);
    transform: scale(1.4);
    opacity: 60%;
}
#task-full-status > .checkbox:checked {
    opacity: 100%;
}

#task-full-notes {
    grid-column: 1 / 2;
    
    color: var(--dark-gray);
    padding-top: 1.5em;
}

pre > p {
    font-family: 'Cascadia Code';
    font-size: 1rem;
    color: var(--dark-gray);
}

.point {
    color: var(--borders-gray);
    font-size: 1.2rem;
}

.line {
    background-color: var(--borders-gray);
    height: 2px;
    align-self: start;    grid-column: 1 / -1;
}
