@charset "UTF-8";

/* CSS Reset */

*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; padding: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; font-size: 100%;}

img, picture, svg, video, canvas { display: block; max-width: 100%; }

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

input, button, textarea, select { font: inherit; }

/* ------------------------------- */

:root {
    --timberwolf: #d3d3d3ff;
    --french-gray: #adb5bdff;
    --dim-gray: #6d6a75ff;
    --argentinian-blue: #64b5f6ff;
    --dodger-blue: #2196f3ff;

    --light-gray: #D3D3D3;
    --border: 2px solid #D3D3D3;
}

main {
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: 4em 1fr;
    height: 100dvh;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border: var(--border);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside {
    border-right: var(--border);
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

nav {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
    height: 100%;
}

header > #logo {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    color: var(--light-gray);
}

header > #theme-login {
    margin-right: 8px;
    display: flex;
    column-gap: 1em;
    align-items: center;
}

i#theme {
    font-size: 2rem;
    color: var(--french-gray);
    padding: 6px;
    border-radius: 6px;
}

i#theme:hover {
    cursor: pointer;
}

button#login {
    all: unset;
    font-size: 2rem;
    border-radius: 10px;
    padding: 0 0.5em;
    color: var(--french-gray);
}

nav > a {
    position: absolute;
    bottom: 0.8em;
}

nav > a > .fa-github {
    font-size: 1.8rem;
}

nav > i,
i.fa-github {
    font-size: 1.5rem;
    color: var(--french-gray);
    padding: 6px;
    border-radius: 5px;
}

nav > i:hover,
i.fa-github:hover,
#login:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.fa-circle {
    -webkit-text-stroke: 1px var(--french-gray);
}

.red {
    color: #ff5a5a;
}

.yellow {
    color: rgb(246, 234, 100);
}

.blue {
    color: var(--argentinian-blue);
}

main > #left {
    border-right: var(--border);
    grid-row: 2 / -1;
    grid-column: 2 / 3;
}