@charset "UTF-8";

/* CSS Reset */

*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; padding: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; font-size: 100%;}

img, picture, svg, video, canvas { display: block; max-width: 100%; }

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

input, button, textarea, select { font: inherit; }

/* ------------------------------- */

:root {
    --timberwolf: #d3d3d3ff;
    --french-gray: #adb5bdff;
    --dim-gray: #6d6a75ff;
    --argentinian-blue: #64b5f6ff;
    --dodger-blue: #2196f3ff;
    
    --gray: #D3D3D3;
    --border: 2px solid #D3D3D3;
}

main {
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: 4em 1fr;
    height: 100dvh;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border: var(--border);

    display: flex;
    align-items: center;
}

aside {
    border-right: var(--border);
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

#left {
    border-right: var(--border);
    grid-row: 2 / -1;
    grid-column: 2 / 3;
}

#logo {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    color: var(--gray);
}